.login_wrapper {
   

    border: 1px solid grey;
    width: 20%;
    margin: 5% auto;
    padding: 2%;
}


#login_form {


    input {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        padding: 5px;
    }
}